#main{
    width: 60%;
    margin: auto;
    background-color: rgb(130, 237, 7);
}
#mid{
    display: flex;
}
#content{
    width: 75%;
}
#td{
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: tahoma;
    padding-bottom: 20px;
}
#mess{
    color: red;
    font-size: 17px;
    text-align: center;
}
#f{
    width: 90%;
    background-color: aquamarine;
    margin: auto;
}
#inf{
    text-align: center;
}