body{
    margin: 0;
}
#main{
    width: 80%;
    margin: auto;
    background-color: rgb(230, 238, 246);
    
}
#header{
   
    display: flex;
    justify-content: space-around;
    background-color: rgba(19, 40, 48, 0.333);
    padding: 10px 0;
    align-items: center;
}
#a a{
    font-size: 30px;
    text-decoration: none;
    margin-left: 10px;
}
#menu{

    
    display: flex;
    padding-left: 30px;
    background-color: rgba(80, 127, 146, 0.616);
}
#menu div .a{
    display: inline-block;
    text-decoration: none;
    font-family: tahoma;
    font-size: 20px;
    padding: 15px 15px;
    color: rgb(255, 255, 255);
}

#menu .a:hover{
    background-color: rgba(45, 35, 187, 0.714);
}
.menu1:hover #menu2{
    display: block;
}
.menu1 .h{
    display: inline-block;
    text-decoration: none;
    font-family: tahoma;
    font-size: 20px;
    padding: 15px 15px;
    color: rgb(255, 255, 255);
}
.menu1 .h:hover{
    background-color: rgba(45, 35, 187, 0.714);
}

.menu1 #menu2 a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: tahoma;
    padding: 3px 8px;
    color: rgb(1, 24, 18);
}
.menu1 div a:hover{
    background-color: rgba(169, 36, 36, 0.719);
}
#menu2{
    display: none;
    z-index: 2;
    position: absolute;
    background-color: rgba(115, 155, 141, 0.404);
   
    
}
.timkiem {
    display: flex;
  }
  
  .timkiem input[type="text"] {
    width: 100%;
    padding: 6px 10px;
    margin: 4px 2px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
  }
  
  .timkiem button {
    width: 30%;
    padding: 6px 10px;
    margin: 4px 2px;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    background-color: #2533288e;
    color: white;
  }
  .timkiem button:hover{
    color: red;
    background-color: rgb(38, 65, 171);
  }
.logo img{
 height: 70px;
 width: 70px;
 vertical-align: middle;
}
