
#mid{
    display: flex;
}
#content{
    width: 75%;
}
#td{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 10px 0;
}
#conten {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
    padding: 20px;
  }
  
  .tdsp {
    font-weight: bold;
    margin-top: 20px;
  }
  
  #tt {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
  
  #im {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 20px;
  }
  
  #tt div {
    flex: 1;
  }
  
  #tt div div {
    margin-bottom: 10px;
  }
  
  #tt div div:last-child {
    margin-bottom: 0;
  }
  
  #tt div div:first-child {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  #conten div:last-child {
    font-weight: bold;
    margin-top: 20px;
  }