#list{
    width: 25%;
    background-color: rgba(10, 39, 18, 0.349);
}
#img{
    display: block;
    width: 100px;
    margin: auto;
    margin-bottom: 20px;
}
.app{
    display: block;
    text-decoration: none;
    font-size: 20px;
    font-family: tahoma;
    text-align: center;
    padding: 4px;
    color: black;
    border-top:2px solid black ;
}
.app:hover{
    background-color: rgb(7, 128, 139);
    color: white;
}