
#mid{
    display: flex;
}
#content{
    width: 75%;
}
#td{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 10px 0;
}
#add a{
    text-decoration: none;
    font-size: 19px;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 149, 255);
    padding: 5px;
    display: block;
    width: 100px;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 100px;
    border-radius: 10px;
}
#add a:hover{
    background-color: brown;
    color: blue;
}

#tb{
    background-color: aqua;
    margin: auto;
    width: 70%;
    border-collapse:collapse;
    
}
#namecot td{
    font-weight: bold;
    color: rgb(149, 48, 14);
    text-align: center;
    font-size: 20px;
}
#name{
    width: 60%;
}
#op{
    width: 40%;
}
#namephone{
    width: 100%;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
    text-align: center;
}
.phonee{
    text-align: center;
}
#check:hover{
    background-color: rgba(11, 11, 216, 0.723);
    color: rgb(243, 0, 0);
}
#delete:hover{
    background-color: rgba(204, 91, 16, 0.822);
    color: rgb(243, 0, 0);
}
#update:hover{
    background-color: rgba(32, 186, 24, 0.685);
    color: rgb(243, 0, 0);
}