
#mid{
    display: flex;
}
#content {
    width: 75%;
    margin: 20px;
    padding: 10px;
    border: 1px solid black;
    font-family: Arial, sans-serif;
  }
  
  #td {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  #add {
    float: right;
    margin-bottom: 20px;
  }
  
  #add a {
    display: inline-block;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  #add a:hover {
    background-color: #3e8e41;
  }
  
  #tb {
    width: 100%;
    border-collapse: collapse;
  }
  
  #namecot {
    background-color: #f2f2f2;
  }
  
  #name {
    width: 70%;
    text-align: center;
    padding: 10px;
  }
  
  #op {
    width: 30%;
    text-align: center;
    padding: 10px;
  }
  
  .phonee:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  #namephone {
    padding: 10px;
  }
  
  #check, #update, #delete {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
  }
  
  #check:hover, #update:hover, #delete:hover {
    background-color: #3e8e41;
  }