
#mid{
    display: flex;
}
#content{
    width: 75%;
}
#td{
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    padding: 10px 0;
}
#tb{
    background-color: aqua;
    margin: auto;
    width: 70%;
}
#name{
    width: 60%;
}
#op{
    width: 40%;
}
#conte {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  #im {
    margin-bottom: 20px;
  }
  
  img {
    max-width: 400px;
    height: auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #ddd;
  }
  
  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #3e8e41;
  }